## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Upernavik,GL,72.79,-56.15,31.93,92,68,3.56,broken clouds
1,1,Borgarnes,IS,64.54,-21.92,48.20,70,75,10.29,broken clouds
2,2,Ilulissat,GL,69.22,-51.10,35.60,47,29,16.11,scattered clouds
3,3,Victoria,HK,22.29,114.16,82.00,70,100,3.00,overcast clouds
4,4,Aklavik,CA,68.22,-135.01,19.40,73,75,3.36,broken clouds

In [5]:
city_data_df.dtypes

City ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [27]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_weather = float(input("What is the coolest temperature you preferred on your trip?"))
max_weather = float(input("What is the warmest temperature you preferred on your trip?"))

What is the coolest temperature you preferred on your trip?72
What is the warmest temperature you preferred on your trip?90

In [28]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
ideal_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_weather) & \
                                   (city_data_df["Max Temp"] >= min_weather)]

ideal_cities_df.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Victoria,HK,22.29,114.16,82.00,70,100,3.00,overcast clouds
5,5,Arraial Do Cabo,BR,-22.97,-42.03,72.19,93,15,15.55,few clouds
12,12,Voh,NC,-20.97,164.70,77.22,75,99,8.77,light rain
20,20,Rikitea,PF,-23.12,-134.97,74.01,80,89,17.81,light rain
21,21,Salalah,OM,17.02,54.09,75.20,78,40,3.36,scattered clouds
22,22,Kapaa,US,22.08,-159.32,80.01,83,90,9.17,overcast clouds
28,28,Gurupi,BR,-11.73,-49.07,80.37,52,15,3.27,few clouds
31,31,Vila Velha,BR,-20.33,-40.29,77.00,83,100,11.41,overcast clouds
43,43,Kilindoni,TZ,-7.91,39.67,79.27,81,10,14.16,light rain
46,46,Carnarvon,AU,-24.87,113.63,73.40,53,40,21.92,scattered clouds

In [29]:
# 4a. Determine if there are any empty rows.
ideal_cities_df.count()

City ID                649
City                   649
Country                649
Lat                    649
Lng                    649
Max Temp               649
Humidity               649
Cloudiness             649
Wind Speed             649
Current Description    649
dtype: int64

In [30]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
ideal_cities_new_df = ideal_cities_df.dropna()
ideal_cities_new_df.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Victoria,HK,22.29,114.16,82.00,70,100,3.00,overcast clouds
5,5,Arraial Do Cabo,BR,-22.97,-42.03,72.19,93,15,15.55,few clouds
12,12,Voh,NC,-20.97,164.70,77.22,75,99,8.77,light rain
20,20,Rikitea,PF,-23.12,-134.97,74.01,80,89,17.81,light rain
21,21,Salalah,OM,17.02,54.09,75.20,78,40,3.36,scattered clouds
22,22,Kapaa,US,22.08,-159.32,80.01,83,90,9.17,overcast clouds
28,28,Gurupi,BR,-11.73,-49.07,80.37,52,15,3.27,few clouds
31,31,Vila Velha,BR,-20.33,-40.29,77.00,83,100,11.41,overcast clouds
43,43,Kilindoni,TZ,-7.91,39.67,79.27,81,10,14.16,light rain
46,46,Carnarvon,AU,-24.87,113.63,73.40,53,40,21.92,scattered clouds

In [31]:
ideal_cities_new_df.count()

City ID                649
City                   649
Country                649
Lat                    649
Lng                    649
Max Temp               649
Humidity               649
Cloudiness             649
Wind Speed             649
Current Description    649
dtype: int64

In [32]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = ideal_cities_new_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Victoria,HK,82.00,overcast clouds,22.29,114.16,
5,Arraial Do Cabo,BR,72.19,few clouds,-22.97,-42.03,
12,Voh,NC,77.22,light rain,-20.97,164.70,
20,Rikitea,PF,74.01,light rain,-23.12,-134.97,
21,Salalah,OM,75.20,scattered clouds,17.02,54.09,
22,Kapaa,US,80.01,overcast clouds,22.08,-159.32,
28,Gurupi,BR,80.37,few clouds,-11.73,-49.07,
31,Vila Velha,BR,77.00,overcast clouds,-20.33,-40.29,
43,Kilindoni,TZ,79.27,light rain,-7.91,39.67,
46,Carnarvon,AU,73.40,scattered clouds,-24.87,113.63,

In [33]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):                                                   
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [34]:
hotel_df.count()

City                   649
Country                649
Max Temp               649
Current Description    649
Lat                    649
Lng                    649
Hotel Name             649
dtype: int64

In [35]:
 hotel_df.dtypes

City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [36]:
empty = (hotel_df['Hotel Name'] == '').sum()
print(empty)

55

In [37]:
hotel_df.tail(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1866,Kota Belud,MY,87.80,few clouds,6.35,116.43,Tang Dynasty Lodge Kota Belud
1867,Gewane,ET,83.64,clear sky,10.17,40.65,
1871,Hollister,US,73.99,clear sky,36.85,-121.40,Hollister Inn
1873,Samarinda,ID,76.10,light rain,-0.50,117.15,Aston Samarinda Hotel & Convention Center
1879,Jibuti,DJ,78.96,clear sky,11.50,42.50,Orchid Main Camp Goubet
1880,Puro,PH,84.99,overcast clouds,12.48,123.38,
1882,Fort Walton Beach,US,75.20,clear sky,30.41,-86.62,Best Western Ft. Walton Beachfront
1886,Novo Aripuana,BR,73.60,light rain,-5.12,-60.38,Hotel Ypê
1898,Quang Ngai,VN,82.15,moderate rain,15.12,108.80,Central Hotel
1899,Pandan,PH,82.69,moderate rain,14.05,124.17,Bonifacio Lodge
1901,San Pedro,PH,88.00,moderate rain,14.35,121.02,OYO 412 Viewfort Venue
1902,Corn Island,NI,83.86,broken clouds,12.17,-83.04,Big Fish Guest House
1903,Massaguet,TD,78.80,few clouds,12.48,15.44,Alwatane
1904,Da Nang,VN,86.00,light rain,16.07,108.22,Grand Mercure Danang
1905,Jiaojiang,CN,78.01,overcast clouds,28.68,121.44,Fangyuan Hotel
1906,Xichang,CN,73.00,overcast clouds,27.90,102.26,Xichang ibis Hotel
1909,Kesinga,IN,82.06,overcast clouds,20.20,83.23,Ambaji mandir pada
1911,Aloleng,PH,86.81,overcast clouds,16.13,119.78,Agno Umbrella Rocks
1915,Oum Hadjer,TD,82.11,clear sky,13.30,19.70,
1916,Bac Lieu,VN,81.70,light rain,9.29,105.72,Khách sạn Sài Gòn Bạc Liêu

In [38]:
# Replace empty hotel names with NaN
hotel_df.loc[(hotel_df)["Hotel Name"] ==''] = np.nan
hotel_df.tail(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1866,Kota Belud,MY,87.80,few clouds,6.35,116.43,Tang Dynasty Lodge Kota Belud
1867,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1871,Hollister,US,73.99,clear sky,36.85,-121.40,Hollister Inn
1873,Samarinda,ID,76.10,light rain,-0.50,117.15,Aston Samarinda Hotel & Convention Center
1879,Jibuti,DJ,78.96,clear sky,11.50,42.50,Orchid Main Camp Goubet
1880,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1882,Fort Walton Beach,US,75.20,clear sky,30.41,-86.62,Best Western Ft. Walton Beachfront
1886,Novo Aripuana,BR,73.60,light rain,-5.12,-60.38,Hotel Ypê
1898,Quang Ngai,VN,82.15,moderate rain,15.12,108.80,Central Hotel
1899,Pandan,PH,82.69,moderate rain,14.05,124.17,Bonifacio Lodge
1901,San Pedro,PH,88.00,moderate rain,14.35,121.02,OYO 412 Viewfort Venue
1902,Corn Island,NI,83.86,broken clouds,12.17,-83.04,Big Fish Guest House
1903,Massaguet,TD,78.80,few clouds,12.48,15.44,Alwatane
1904,Da Nang,VN,86.00,light rain,16.07,108.22,Grand Mercure Danang
1905,Jiaojiang,CN,78.01,overcast clouds,28.68,121.44,Fangyuan Hotel
1906,Xichang,CN,73.00,overcast clouds,27.90,102.26,Xichang ibis Hotel
1909,Kesinga,IN,82.06,overcast clouds,20.20,83.23,Ambaji mandir pada
1911,Aloleng,PH,86.81,overcast clouds,16.13,119.78,Agno Umbrella Rocks
1915,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1916,Bac Lieu,VN,81.70,light rain,9.29,105.72,Khách sạn Sài Gòn Bạc Liêu

In [39]:
# 7. Drop the rows where there is no Hotel Name.
hotel_clean_df = hotel_df.dropna()

hotel_clean_df.tail(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1849,Victoria Point,AU,79.00,clear sky,-27.58,153.30,Bay Retreat Motel
1860,Hilton Head Island,US,77.00,broken clouds,32.22,-80.75,Hampton Inn Hilton Head
1864,Pattoki,PK,85.71,clear sky,31.02,73.85,Numan Ahmad
1866,Kota Belud,MY,87.80,few clouds,6.35,116.43,Tang Dynasty Lodge Kota Belud
1871,Hollister,US,73.99,clear sky,36.85,-121.40,Hollister Inn
1873,Samarinda,ID,76.10,light rain,-0.50,117.15,Aston Samarinda Hotel & Convention Center
1879,Jibuti,DJ,78.96,clear sky,11.50,42.50,Orchid Main Camp Goubet
1882,Fort Walton Beach,US,75.20,clear sky,30.41,-86.62,Best Western Ft. Walton Beachfront
1886,Novo Aripuana,BR,73.60,light rain,-5.12,-60.38,Hotel Ypê
1898,Quang Ngai,VN,82.15,moderate rain,15.12,108.80,Central Hotel
1899,Pandan,PH,82.69,moderate rain,14.05,124.17,Bonifacio Lodge
1901,San Pedro,PH,88.00,moderate rain,14.35,121.02,OYO 412 Viewfort Venue
1902,Corn Island,NI,83.86,broken clouds,12.17,-83.04,Big Fish Guest House
1903,Massaguet,TD,78.80,few clouds,12.48,15.44,Alwatane
1904,Da Nang,VN,86.00,light rain,16.07,108.22,Grand Mercure Danang
1905,Jiaojiang,CN,78.01,overcast clouds,28.68,121.44,Fangyuan Hotel
1906,Xichang,CN,73.00,overcast clouds,27.90,102.26,Xichang ibis Hotel
1909,Kesinga,IN,82.06,overcast clouds,20.20,83.23,Ambaji mandir pada
1911,Aloleng,PH,86.81,overcast clouds,16.13,119.78,Agno Umbrella Rocks
1916,Bac Lieu,VN,81.70,light rain,9.29,105.72,Khách sạn Sài Gòn Bạc Liêu

In [40]:
hotel_clean_df.count()

City                   594
Country                594
Max Temp               594
Current Description    594
Lat                    594
Lng                    594
Hotel Name             594
dtype: int64

In [41]:
# 8a. Create the output File (CSV)
output_data_file ="WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_clean_df.to_csv(output_data_file, index_label="City_ID")

In [42]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_clean_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_clean_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_clean_df[["Lat","Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))