## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Rikitea,PF,73.44,scattered clouds,-23.12,-134.97,Pension Maro'i
1,2,Lorengau,PG,81.46,scattered clouds,-2.02,147.27,Lorengau Harbourside Hotel
2,6,Hambantota,LK,82.40,light rain,6.12,81.12,Bungalow 63
3,10,Castro,BR,71.11,overcast clouds,-24.79,-50.01,CHACARA BAILLY
4,12,Perdoes,BR,83.34,overcast clouds,-21.09,-45.09,Talism찾 Motel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} 째F</dd>


</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat","Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df)["City"] == "Georgetown"]
vacation_end = vacation_df.loc[(vacation_df)["City"] == "Georgetown"]
vacation_stop1 = vacation_df.loc[(vacation_df)["City"] == "Chaah"]
vacation_stop2 = vacation_df.loc[(vacation_df)["City"] == "Kuala Terengganu"] 
vacation_stop3 = vacation_df.loc[(vacation_df)["City"] == "Kota Bahru"] 
vacation_start.dtypes

City_ID                  int64
City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [6]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
131,333,Kota Bahru,MY,73.4,light rain,6.13,102.24,Grand Riverview Hotel

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = pd.DataFrame[vacation_start].to_numpy()

lat_lng_start = vacation_start[['Lat','Lng']].to_numpy()
start = lat_lng_start[0]

lat_lng_end = vacation_end[['Lat', 'Lng']].to_numpy()
end = lat_lng_end[0]

lat_lon_stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop1 = lat_lon_stop1[0]

lat_lon_stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop2 = lat_lon_stop2[0]

lat_lon_stop3 = vacation_stop3[['Lat','Lng']].to_numpy()
stop3 = lat_lon_stop3[0]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

#Latitude-Longtitude pairs
Start = start
Stop1 = stop1
Stop2 = stop2
Stop3 = stop3
End = end

fig = gmaps.figure()
start_to_end_trip_via_driving = gmaps.directions_layer(Start, End, waypoints=[Stop1, Stop2, Stop3],travel_mode="DRIVING")
fig.add_layer(start_to_end_trip_via_driving)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,67,Georgetown,MY,84.20,light rain,5.41,100.34,Cititel Penang
1,1009,Chaah,MY,77.43,overcast clouds,2.25,103.05,Chaah Homestay
2,1951,Kuala Terengganu,MY,80.01,few clouds,5.33,103.14,Hotel Grand Continental Kuala Terengganu (4 Star)
3,333,Kota Bahru,MY,73.40,light rain,6.13,102.24,Grand Riverview Hotel

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} 째F</dd>


</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat","Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))